{% extends "base.html" %}
{% block content %}
          <ol class="breadcrumb">
            <li><a href="{% url 'apps.core.views.dashboard' %}">Home</a></li>
            <li class="active"><a href="{% url 'organizations_list' %}">Organizations</a></li>
          </ol>
          <h1 class="page-header"><i class="fa fa-building-o"></i> Organizations <span class="badge badge-primary"> {{ organization_list.count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Organization ID</th>
                  <th>Abbreviation</th>
                </tr>
              </thead>
              <tbody>
              {% for organization in organization_list.all %}
                <tr>
                  <td><a href="{% url 'organization_detail' organization.org_id %}">{{ organization.name }}</a></td>
                  <td>{{ organization.org_id }}</td>
                  <td>{{ organization.org_abbreviation }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}