{% extends "base.html" %}
{% block content %}
          <ol class="breadcrumb">
            <li><a href="{% url 'apps.core.views.dashboard' %}">Home</a></li>
            <li><a href="{% url 'components_list' %}">Components</a></li>
            <li class="active"><a href="{% url 'component_detail' component.pk %}">{{ component.name }}</a></li>
          </ol>
          <h1 class="page-header"><i class="fa fa-cogs"></i> {{ component.name }}</h1>
          <div class="col-md-4">
            <div class="panel panel-default panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-info-circle fa-inverse fa-2x fa-fw"></i> General</h2>
              </div>
              <div class="panel-body">
                  <dl class="dl-horizontal">
                  <dt>Name</dt>
                  <dd>{{ component.name }}</dd>
                  <dt>Device</dt>
                  <dd><a href="{% url 'device_detail' component.device.name %}">{{ component.device.name }}</a></dd>
                  <dt>Speed</dt>
                  <dd>{{ component.speed }}</dd>
                  </dl>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="panel panel-default panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-cloud fa-inverse fa-2x fa-fw"></i> Services</h2>
              </div>
              <div class="panel-body">
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
             <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Organization</th>
                  <th>Service ID</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>CIR</th>
                  <th>EIR</th>
                  <th>Report On</th>
                </tr>
              </thead>
              <tbody>
              {% for service in component.service_set.all %}
                <tr>
                  <td><a href="{% url 'service_detail' service.id %}">{{ service.name }}</a></td>
                  <td>{{ service.description }}</td>
                  <td>{% for organization in service.organization.all %}
                      {{ organization.name }},
                      {% empty %}
                      Unknown</td>
                      {% endfor %}
                  </td>
                  <td>{{ service.service_id }}</td>
                  <td>{{ service.service_type.name }}</td>
                  <td>{{ service.status.name }}</td>
                  <td>{{ service.cir }}</td>
                  <td>{{ service.eir }}</td>
                  <td>{{ service.report_on }}</td>
                </tr>
              {% endfor %}
              </tbody>
                </table>
              </table>
            </div>
          </div>
{% endblock %}