{% extends "base.html" %}
{% block content %}
          <ol class="breadcrumb">
            <li><a href="{% url 'apps.core.views.dashboard' %}">Home</a></li>
            <li class="active"><a href="{% url 'services_list' %}">Services</a></li>
          </ol>
          <h1 class="page-header"><i class="fa fa-cloud"></i> Services <span class="badge badge-primary"> {{ service_list.paginator.count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Organization</th>
                  <th>Service ID</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>CIR</th>
                  <th>EIR</th>
                  <th>Report On</th>
                </tr>
              </thead>
              <tbody>
              {% for service in service_list %}
                <tr>
                  <td><a href="{% url 'service_detail' service.id %}">{{ service.name }}</a></td>
                  <td>{{ service.description }}</td>
                  <td>{% for organization in service.organization.all %}
                      <a href="{% url 'organization_detail' organization.org_id %}">{{ organization.name }}</a>,
                      {% empty %}
                      Unknown</td>
                      {% endfor %}
                  </td>
                  <td>{{ service.service_id }}</td>
                  <td>{{ service.service_type.name }}</td>
                  <td>{{ service.status.name }}</td>
                  <td>{{ service.cir }}</td>
                  <td>{{ service.eir }}</td>
                  <td>{{ service.report_on }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

<div class="container" align="center">
    <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
        <li><a href="./?page={{ page_obj.previous_page_number }}">&larr;</a>
    {% else %}
        <li class="disabled"><a>&larr;</a>
    {% endif %}

                {% for num in page_obj.leading_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% for num in page_obj.main_range %}
                   {% if num != service_list.number %}
                     <li><a href="?page={{ num }}">{{ num }}</a></li>
                   {% else %}
                     <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                   {% endif %}
                {% endfor %}

                {% for num in page_obj.trailing_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}


    {% if page_obj.has_next %}
        <li><a href="./?page={{ page_obj.next_page_number }}">&rarr;</a>
    {% else %}
        <li class="disabled"><a>&rarr;</a>
    {% endif %}
    </ul>
</div>

{% endblock %}