{% extends "base.html" %}
{% block content %}
          <ol class="breadcrumb">
            <li><a href="{% url 'apps.core.views.dashboard' %}">Home</a></li>
            <li class="active"><a href="{% url 'apps.services.views.services_list' %}">Services</a></li>
          </ol>
          <h1 class="page-header"><i class="fa fa-cloud"></i> Services <span class="badge badge-primary"> {{ service_list.paginator.count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Organization</th>
                  <th>Service ID</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>CIR</th>
                  <th>EIR</th>
                  <th>Report On</th>
                </tr>
              </thead>
              <tbody>
              {% for service in service_list %}
                <tr>
                  <td><a href="{% url 'apps.services.views.service_detail' service.id %}">{{ service.name }}</a></td>
                  <td>{{ service.description }}</td>
                  <td>{% for organization in service.organization.all %}
                      <a href="{% url 'apps.organizations.views.organization_detail' organization.org_id %}">{{ organization.name }}</a>,
                      {% empty %}
                      Unknown</td>
                      {% endfor %}
                  </td>
                  <td>{{ service.service_id }}</td>
                  <td>{{ service.service_type.name }}</td>
                  <td>{{ service.status.name }}</td>
                  <td>{{ service.cir }}</td>
                  <td>{{ service.eir }}</td>
                  <td>{{ service.report_on }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
            <ul class="pagination">
                {% if service_list.has_previous %}
                    <li><a href="?page={{ service_list.previous_page_number }}">&laquo;</a></li>
                {%  else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% endif %}

                {% for num in service_list.leading_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% for num in service_list.main_range %}
                   {% if num != service_list.number %}
                     <li><a href="?page={{ num }}">{{ num }}</a></li>
                   {% else %}
                     <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                   {% endif %}
                {% endfor %}

                {% for num in service_list.trailing_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% if service_list.has_next %}
                    <li><a href="?page={{ service_list.next_page_number }}">&raquo;</a></li>
                {%  else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% endif %}
            </ul>
{% endblock %}