{% extends "base.html" %}
{% block content %}
          <ol class="breadcrumb">
            <li><a href="{% url 'apps.core.views.dashboard' %}">Home</a></li>
            <li class="active"><a href="{% url 'devices_list' %}">Devices</a></li>
          </ol>
          <h1 class="page-header"><i class="fa fa-rocket"></i> Devices <span class="badge badge-primary"> {{ device_list.count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>System Node Key</th>
                  <th>PBBTE Bridge Mac</th>
                  <th>Device Type</th>
                  <th>IP Address</th>
                  <th>Software Version</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              {% for device in device_list.all %}
                <tr>
                  <td><a href="{% url 'device_detail' device.name %}">{{ device.name }}</a></td>
                  <td>{{ device.system_node_key }}</td>
                  <td>{{ device.pbbte_bridge_mac }}</td>
                  <td>{{ device.device_type }}</td>
                  <td>{{ device.ip }}</td>
                  <td>{{ device.software_version }}</td>
                  <td>{{ device.status.name }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        <div class="container" align="center">
    <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
        <li><a href="./?page={{ page_obj.previous_page_number }}">&larr;</a>
    {% else %}
        <li class="disabled"><a>&larr;</a>
    {% endif %}

                {% for num in page_obj.leading_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% for num in page_obj.main_range %}
                   {% if num != service_list.number %}
                     <li><a href="?page={{ num }}">{{ num }}</a></li>
                   {% else %}
                     <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                   {% endif %}
                {% endfor %}

                {% for num in page_obj.trailing_range %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}


    {% if page_obj.has_next %}
        <li><a href="./?page={{ page_obj.next_page_number }}">&rarr;</a>
    {% else %}
        <li class="disabled"><a>&rarr;</a>
    {% endif %}
    </ul>
</div>
{% endblock %}